:root {
    --background-color: #2F5D50;
    --lightgreen: #A3B18A;
    --sand: #DAD7CD;
    --brun: #6B4F4F;
    --accent-color: #E76F51;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 7vh;
    top: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: var(--background-color);
}

.navbar li {
    float: left;
    display: block;
    text-align: center;
    padding: 1%;
}

.navbar ul {
    margin: 0;
}

.navbar a {
    color: var(--sand);
    text-decoration: none;
    font-size: 1.5em;
}

.navbar li:hover {
    background-color: var(--lightgreen);
    cursor: pointer;
}

.hero {
    display: flex;
    margin-bottom: 30vh;
}

.hero img {
    position: fixed;
    z-index: -1;
    width: 100%;
}

.hero .heroText {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15em;
    padding: .25em;
    width: 400px;
    color: var(--sand);
    background-color: var(--background-color);
    border-radius: .5em;
    text-align: center;
    font-size: 1.8em;
}

section {
    width: 100%;
    background-color: var(--lightgreen);
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--lightgreen);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10em;
    padding: 2em;
    text-align: center;
}

.item img {
    width: 15em;
}

.animals {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4em;
    place-items: center;
    gap: 2em;
}

.text {
    text-align: center;
    font-size: 1.5rem;
}

table {
    height: 50vh;
    width: 100%;
    background-color: var(--background-color);
    font-size: 2rem;
    border: 5px solid var(--background-color);
    border-radius: .5em;
    margin: 2em;
}

table img {
    height: 4em;
}

td {
    text-align: center;
}

th,
td {
    border-bottom: 1px solid var(--lightgreen);
}

.formsection {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

form {
    border: 2px solid var(--background-color);
    background-color: var(--background-color);
    padding: 2em;
    font-size: 1.2rem;
    border-radius: .5em;
    width: 50%;
}

input {
    background-color: var(--lightgreen);
    color: black;
    width: 100%;
    padding: 1em;
    font-size: 1.2rem;
}

::placeholder {
    color: gray;
}